Unclear document title, abstract and structure

Reading the document I don't understand the purpose of this document. What is it trying to say?

The title "Workload Identity Practices" feels imprecise - it leads me to think that the document either will list (best) practices or different patterns related to Workload Identity". Which is not what it does.

The abstract is also quite confusing, it starts by addressing secret sprawl, then states "the industry has shifted towards a federation-based approach where credentials of the underlying workload platform are used as assertions towards an OAuth authorization server, leveraging the Assertion Framework for OAuth 2.0 Client Authentication [RFC7521], specifically [RFC7523].". In my opinion the document states this very bluntly but it hasn't given me any context besides a brief reference to secret sprawl.
The second paragraph of the abstract refers to three sections of the document but this is not terribly helpful because the reader has not yet read the document.
In general I feel that this abstract doesn't fulfill the requirements specified in https://www.rfc-editor.org/rfc/rfc7322.html#section-4.3. It doesn't summarize and give a clear understanding of the document.

Reading the document itself it seems to me that it's actually describing a (proposed) WIMSE pattern of using tokens (eg, google/aws workload identity token, kubernetes service account token) as an assertion towards an AS in a different trust domain using an assertion_grant flow. I'm not clear if the document also proposes this pattern within the same trust domain.

I feel that the abstract needs to be rewritten, inline with RFC7322 "provides a concise and comprehensive overview of the purpose and contents of the entire document".

I also find that a lot of the most practical actionable information is "buried" in Appendix A. This appendix is the part that gives me most context of what the document is trying to achieve.

Hi @dagdagdag83,

thank you for the review and the time to write this issue! It's highly appreciated! 

You have identified a clear issue on this draft and your feedback aligns with other feedback we got since Bangkok. This work started with describing the assertion flow pattern in context of Kubernetes Service Accounts only. We then refactored it multiple times, made it more abstract, added cloud providers, build systems and SPIFFE. Before Bangkok we added the delivery mechanism. Along the way we clearly lost the thread.

Work has started on restructure the document and re-phrase abstract, introduction, etc. We are also moving the patterns out of the appendix into the main specification as we have identified this to be a very practical part of it.

If it's not too much to ask, are you willing to do a re-review once we are finished to see if the new structure and re-phrasing will have helped please?

Hi @arndt-s,

Knowing the context and history of the document this makes a lot of sense. 
Yes, I'd be more than happy to re-review it at a later date. In fact I'm looking to get more involved in standardization work in general so if possible, I would love to be involved in rewriting the document as well. Let me know what you think, thanks!

PS: I'm hoping to also attend IETF 123 🤞

@dagdagdag83, we've restructured the document. Feel free to re-review it when you've had a chance.

Thanks @heymarcel! First off - that was very quick 👍 

The document is, in my opinion, vastly improved so great job. The overall structure is better, it's much clearer what is the purpose and the abstract makes sense. 

I have a couple of thoughts:
1. Is it possible to change the document name to something more precise at this point? Maybe "Workload Identity Current Industry Practices"? To call it "Workload Identity Practices" still feels very imprecise to me, it doesn't say much about anything.
2. Is it really necessary to "import" half the SPIFFE spec into this spec? Maybe a briefer overview with a reference to SPIFFE docs? If this section had something important to say about *how current SPIFFE practices relates to WIMSE and this document*, it might justify such a lengthy section, but I don't really see that at the moment.
3. On kubernetes would it be worth mentioning this quirk https://stackoverflow.com/a/69581779? Quick summary the default TTL for a k8s SA token appears to be 3607 seconds, and k8s will renew the token each hour but the "exp" is always set to **ONE YEAR**. This "quirk" has existed in kubernetes for years now.

A suggestion: consider adding an Istio section. Istio actually uses an interesting mechanism with Envoy to establish mTLS between workloads and these x.509 certificates actually have SPIFFE IDs. So these certificates can be considered Workload Identity Credentials. This even work multi-cluster if you have a control plane configured for shared CA root.

1. This specification used to be named "Workload Identity Current Best Practices" and after various discussions we ended at our current title "Workload Identity Practices". 

* `Current` got cut because it may not reflect the "current practices" at a future time. 
* `Best` got cut after various discussions resulting in the fact that many aspects of the document cannot be framed as "best practices" - for instance the fact that most of the tokens are Bearer tokens.

2. I checked and we roughly introduce SPIFFE as much as we introduce K8S, Cloud providers and CI/CD/build systems. We mentioned SPIFFE also add the local APIs but only briefly. Do you think we should generally cut the introductions and refer to documentation instead?

3. Thank you for sharing this. I'm not an expert but I always thought this to be only a migration thing to gradually migrate clusters away from unlimited/1year expirations?

Regarding Istio: I'm indecisive about it. On one hand service meshes are a very common pattern that is deployed widely. On the other hand it is totally opaque to the workload, they cannot get any token from it. I feel like if we add Istio we should also talk about workload to workload auth with JWT and with mTLS. What do you think?

1. I see, some interesting history there. What about "Workload Identity Industry Practices" then?
2. I suppose these sections are fine, they have compiled useful information which is difficult to find elsewhere. SPIFFES/SPIRE is well-documented but perhaps it's not so easy to find practical information on how SPIFFE is used for workload authentication. 
3. Yes I believe it was temporary, but the default configuration on the latest kubernetes still have the "temporary workaround" enabled. To disabled it you need to specifically do that in configuration, which very few people do. At the end of the day this is an issue for the kubernetes maintainers I suppose. 

Thanks for creating the other issue for istio, let's continue discussing it there?